John Stamagal <jstamagal@gmail.com> <jstamgal@gmail.com>
John Stamagal <jstamagal@gmail.com> jstamagal <jstamagal@gmail.com>
John Stamagal <jstamagal@gmail.com> Your Name <bort@short>
John Stamagal <jstamagal@gmail.com> Ronald Rump <ronald_rump@example.com>
John Stamagal <jstamagal@gmail.com> js <js@local>
js commit agent <jstamagal+agent@gmail.com> <js-commit-agent@example.invalid>
js commit agent <jstamagal+agent@gmail.com> <commit-agent@example.invalid>
