John Stamagal <jstamagal@gmail.com> <jstamgal@gmail.com>
John Stamagal <jstamagal@gmail.com> jstamagal <jstamagal@gmail.com>
js commit agent <jstamagal+agent@gmail.com> <js-commit-agent@example.invalid>
js commit agent <jstamagal+agent@gmail.com> <commit-agent@example.invalid>
